<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="/static/css/about.css">
</head>
<body>
    <div class="container-ab">
        <div class="nav-list-ab"><a href="/index">Home</a></div>
        <div class="nav-line-ab"></div>
    </div>
    <div class="ab">
        <h1>About</h1>
        <p>🚀 Hey there, Future Innovator! 🌟</p>
        <p>I'm a passionate Software Engineer, Web Developer, and Data Scientist on a mission to turn dreams into digital reality! Currently riding the tech wave while pursuing my B.tech in Computer Science at PIET, Jaipur (Class of 2022).</p>
        <p>🌐 Born and bred in Bihar, celebrating life since December 12, 2004.</p>
        <p>💻 Armed with a coding arsenal that includes C, C++, Python, Flask, Java, JS, HTML, CSS, Bootstrap, PHP, and MySQL - I thrive on turning lines of code into functional masterpieces.</p>
        <p>🚀 My playground is the intersection of creativity and technology, where I craft seamless digital experiences. Backend development is my forte, and I'm always up for a challenge that pushes the boundaries of what's possible.</p>
        <p>🎮 When I'm not busy optimizing code or bringing ideas to life, you'll find me immersed in the world of anime, exploring fantastical realms for a dose of inspiration and fun.</p>
        <p>Let's collaborate, innovate, and make the digital world a cooler place! 🔥✨</p>
    </div>
    <script src="/static/js/main.js"></script>
</body>
</html>