<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Certificate Gallery</title>
    <link rel="stylesheet" href="/static/css/certificate.css">
</head>
<body>
    <div class="container-ab">
        <div class="nav-list-ab"><a href="/index">Home</a></div>
        <div class="nav-line-ab"></div>
    </div>
    <div class="slider">
        <button class="prev" onclick="prevSlide()">&#10094;</button>
        <button class="next" onclick="nextSlide()">&#10095;</button>    
        <div class="slides">
            <div class="slide"><img src="/static/images/Screenshot 2024-01-17 122906.png"></div>
            <div class="slide"><img src="/static/images/java.png"></div>
            <div class="slide"><img src="/static/images/bitdegree-certificate-1566932 (2).jpeg"></div>
            <div class="slide"><img src="/static/images/bitdegree-certificate-1566932 (1).jpeg"></div>
            <div class="slide"><img src="/static/images/bitdegree-certificate-1566932.jpeg"></div>
            <div class="slide"><img src="/static/images/20231121_202722.jpg"></div>
            <div class="slide"><img src="/static/images/Screenshot 2024-01-17 122733.png"></div>
        </div>
    </div>
    <script src="/static/js/certificate.js"></script>
</body>
</html>
