<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <link rel="stylesheet" href="/static/css/contact.css">
</head>
<body>
    <div class="container-ab">
        <div class="nav-list-ab"><a href="/index">Home</a></div>
        <div class="nav-line-ab"></div>
    </div>
    <div class="des">
        <h1>HELLO.</h1>
        <p>Wanna collaborate with me?</p>
        <p>Get in touch!!</p>
        <p>On Internet:-</p>
        <p><a href="https://github.com/RiturajS12">Github</a> <a href="https://www.instagram.com/_its_rrj/">Insta</a></p>
        <p>On Email:-</p>
        <p><a href="mailto:rawsomeraj10@gmail.com">rawsomeraj10@gmail.com</a></p>
    </div>
        <div class="review-box">
            <h2>Leave a Review</h2>
            <form action="/messages" method="post">
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" required>
                
                <label for="message">Message:</label>
                <textarea id="message" name="message" rows="4" required></textarea>
                
                <button type="submit">Submit</button>
            </form>
        </div>
    <script src="/static/js/main.js"></script>
</body>
</html>
