<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello there!</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div class="container">
        <header class="d-flex justify-content-center py-3">
          <ul class="nav nav-pills">
            <li class="nav-item"><a href="/" class="nav-link active" aria-current="page">Home</a></li>
            <li class="nav-item"><a href="/about" class="nav-link">About</a></li>
            <li class="nav-item"><a href="/project" class="nav-link">Project</a></li>
            <li class="nav-item"><a href="/skills" class="nav-link">Skills</a></li>
            <li class="nav-item"><a href="/contact" class="nav-link">Contact</a></li>
            <li class="nav-item"><a href="https://github.com/ritu-25" class="nav-link">linkdin</a></li>
            <li class="nav-item"><a href="https://www.linkedin.com/in/ritu-saini-790708226/" class="nav-link">Github</a></li>
          </ul>
        </header>
      </div>



    
    <div class="ab">
        <img src="/static/images/WhatsApp Image 2023-09-28 at 10.14.01_6f298375.jpg" alt="Rituraj">
        <h1>Rituraj Singh</h1>
        <p>Software Engineer / Web developer / Data Scientist</p>
        <p>Currently pursuing B.tech in CSE(2k22) at PIET,Jaipur.</p>
    </div>
    <div class="options">
        <a href="/about">About</a>
        <a href="/project">Project</a>
        <a href="/certificates">Certificates</a>
        <a href="/contact">Contact</a>
    </div>



    <div class="container">
        <footer class="py-3 my-4">
          <ul class="nav justify-content-center border-bottom pb-3 mb-3">
            <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Home</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Features</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Pricing</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">FAQs</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">About</a></li>
          </ul>
          <p class="text-center text-body-secondary">© 2024 Company, Inc</p>
        </footer>
      </div>
    <script src="/static/js/main.js"></script>
</body>
</html>
