<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Works</title>
    <link rel="stylesheet" href="/static/css/project.css">
</head>
<body>
    <div class="container-ab">
        <div class="nav-list-ab"><a href="/index">Home</a></div>
        <div class="nav-line-ab"></div>
    </div>
    <div class="ab">
        <a href="https://github.com/RiturajS12/Aakriti_project_for_Hackathon">Aakriti</a>
        <div class="small"><h4>- hackathon project</h4></div>
        <a href="https://github.com/RiturajS12/easyCare-healthcare-chatbot-">easyCare</a>
        <div class="small"><h4>- healthcare chatbot</h4></div>
        <a href="https://github.com/RiturajS12/Textovert">Textovert</a>
        <div class="small"><h4>- community for introverts</h4></div>
        <a href="https://github.com/RiturajS12/cli_based_socket_chatapp">Chatapp_socket</a>
        <div class="small"><h4>- cli based chat application through networks</h4></div>
        <a href="https://github.com/RiturajS12/rock_paper_scissors_by_JS">RockPaperScissors</a>
        <div class="small"><h4>- Game by JS</h4></div>
        <a href="https://github.com/RiturajS12/library-management-system-with-java">LibrarySystem</a>
        <div class="small"><h4>- basic system by Java</h4></div>
        <a href="https://github.com/RiturajS12/musicPlaylist-by-C">MusicPlayList</a>
        <div class="small"><h4>- showcase of C</h4></div>
        <a href="https://github.com/RiturajS12/hotelManagementSystem_c-">HotelSystem</a>
        <div class="small"><h4>- showcase of C++</h4></div>
    </div>
    <div class="work">
        <h2>WORK</h2>
        <p>This is a showcase of my best work in a variety of fields including Web Design, Basic showcase of language understandings and framework representation.</p>
        <p>The world of digital design and development is constantly evolving and so has my role. I’m still learning and gaining new skills every day.</p>
    </div>
    <script src="/static/js/main.js"></script>
</body>
</html>
